* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    background: #031321;
    background-size: 100% 100%;
    font-family: 'Orbitron', sans-serif;
    
    
  
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    transition: 3s;
    z-index: 2;
}

.preloader:before {
    content: '';
    position: absolute;
    left: 0;
    width:50%;
    height: 100%;
    
    background: linear-gradient(to right,  #008aff, #00ffe7 );
   
    transition: 3s;
    
}

.preloader.complete:before {
    left: -50%;
}

.preloader:after {
    content: '';
    position: absolute;
    right: 0;
    width:50%;
    height: 100%;
    background: linear-gradient(to left,  #008aff,#00ffe7 );
   
    transition: 3s;
    
}


.preloader.complete:after {
    right: -50%;
}















.nair  {
    margin: 0;
    padding: 0;
    background: #031321;
    background-size: 100% 100%;
    background-attachment: fixed;
    

}

.body1  {
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    font-family: 'Orbitron', sans-serif;
    
   
}

.aditya {
    font-size: 1em;
    text-align: center;
    
}

h1 {

    

    

    text-align: center;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right,#0ff, #ff0, #f00, #0f0, #00f);
    -webkit-background-clip: text;
    animation: animate1 20s linear infinite;
    background-size: 500%; 
    cursor: default;
    user-select: none;
    padding-left:5px;
    padding-right:5px;
}
@keyframes animate1
{
    0%
    {
        background-position: 0% 100%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0% 100%;
    }
}


.aditya a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none; 
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03A9f4, #f441a5, #ffeb3b, #03A9F4);
    background-size: 400%;
    border-radius: 30px;
    
    
    
}


.aditya a::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03A9f4, #f441a5, #ffeb3b, #03A9F4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
    
}
.aditya a:hover::before {
    
    opacity: 1;
    animation: animate4 8s linear infinite;
}


.aditya a:hover { 
    
    animation: animate4 8s linear infinite;
  
  
}
@keyframes animate4 {
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}







::-webkit-scrollbar 
{
    width: 0;
}
#scrollPath 
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 00.05);
}

#progressbar 
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate1 5s linear infinite;
}
@keyframes animate1 
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}
#progressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}
.content {
    justify-content: center;
    align-items: center;

}

.load {
    display: flex;
    justify-content: center;
    
    
    align-items: center;
    min-height: 100vh;
    
    
    animation: animateBg 10s linear infinite;
    }
.preloader.complete {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    @keyframes animateBg {
    0%
    {
    filter: hue-rotate(0deg);
    }
    100%
    {
    filter: hue-rotate(360deg);
    }
    }
    
.load .loader  {
    position: relative;
    width: 120px;
    height: 120px;
    }
    
.load .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    }
    
    .load .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
            0 0 20px #00ff0a,
            0 0 40px #00ff0a,
            0 0 60px #00ff0a,
            0 0 80px #00ff0a,
            0 0 100px #00ff0a;
    animation: animate3 2s linear infinite;
    animation-delay: calc(0.1s * var(--i)) ;
    }
    @keyframes animate3 {
    0%
    {
    transform: scale(1);
    }
    80%,100%
    {
    transform: scale(0);
    }
    }


hr {
    color: #fff;
}

nav{
    background: #151515;
    padding: 5px 40px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li{
    padding: 15px 0;
    cursor: pointer;
    
}

nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    position: relative;
    order: 3;
}

nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #3fffff;
    opacity: 0;
    text-decoration: overline;
}

nav ul li.items:hover:after{
    opacity: 1;
    transition: all 0.2s linear;
    
    bottom: 8px;
    
}

nav ul li.logo{
    flex: 1;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;

}

nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: 1s;
}

nav ul li i{
    font-size: 40px;
}

nav ul li.btn{
    display: none;
}

nav ul li.btn.hide i:before{
    content: '\f00d';
}

@media all and (max-width: 1100px){
    nav{
        padding: 5px 30px;
    }


    nav ul li.items{
        width: 100%;
        display: none;
    }
    nav ul li.items.show{
        display: block;
    }
    nav ul li.btn{
        display: block;
    }
    nav ul li.items:hover{
        border-radius: 5px;
        box-shadow:inset 0 0 5px #33ffff,
                   inset 0 0 10px #66ffff;
    }
    nav ul li.items:hover:after{
        opacity: 0;
    }

}

a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: cyan;
    text-decoration: none;
}


.carder {
    display: flex;
    
  
    
    background:  #031321;
}


.cs {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.card {
    margin-right: 50px;
    margin-left: 50px;

   
  
    position: relative;
    width: 320px;
    height: 420px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #2196f3;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card:hover::after {
    content: 'Aditya';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}
.imgBox img {
    border-radius: 20px;
    top: 50px;

    left: 40px;
}


.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    z-index: 1;
}

.card .imgBox img {
    border-radius: 20px;
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .imgBox img {
    max-width: 50%;
}

.card .contentBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

}

.card .contentBx h3 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBx .price {
    font-size: 15px;
    color: rgb(0, 255, 213);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBx .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentBx .buy {
    top: 0;
    opacity: 1;
}

.card .contentBx .buy:hover {
    color: rgb(0, 255, 213);
}

h1 {
   
    color: #fff;
    justify-content: center;
    align-items: center;
   
    font-size: 65px;
    font-weight: 900;
    
    margin: auto;
    font-display: center;
   
    text-align: center;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right,#0ff, #ff0, #f00, #0f0, #00f);
    -webkit-background-clip: text;
    animation: animate1 20s linear infinite;
    background-size: 500%; 
    
}

@keyframes animate1
{
    0%
    {
        background-position: 0% 100%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0% 100%;
    }

  
   
}
    


    

  
body {
    background: #031321;
    font-family: 'Orbitron', sans-serif;
}

#money {
   
    font-size: 10px;
    color: rgb(0, 174, 255);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
.m {
    text-decoration-line: line-through;
    color: rgb(250, 2, 2);
}


h2 {
    font-size: 4em;
    color: #00ffb3;
}

#ig {
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}
